.container {
  // background-color: blue;
  // color: white;
  height: 80px;
  padding: 0px 120px;

  font-family: var(--font-poppins);
  background-color: #ffffff;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-bottom: 4px solid #634aff;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.logo {
  color: #000000;
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 2%;
}

.navList {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.navItems {
    font-family: var(--font-lato);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2%;

    cursor: pointer;
}

.navItemButton {
  color: #f7f6ff;
  background: linear-gradient(0deg, #634aff, #634aff),
    linear-gradient(
      1.51deg,
      #0e0066 -23.08%,
      rgba(99, 74, 255, 0.5) 10.87%,
      rgba(99, 74, 255, 0.5) 86.4%,
      #b9adff 121.04%
    );
  border-radius: 10px;
  padding: 12px 22px;
  margin-left: 16px;

  cursor: pointer;
}
