.container {
  background-color: #ffffff;
  height: 400px;

  display: flex;
  flex-direction: row;
  padding: 60px 90px 0px 90px;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.leftTop {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}

.leftTopHeading {
  color: #000000;
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 2%;
  //   vertical-align: middle;
}

.leftTopPunch {
  color: rgba(153, 161, 175, 1);
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  //   vertical-align: middle;
}

.searchButtonV1 {
  background: linear-gradient(0deg, #634aff, #634aff),
    linear-gradient(
      1.51deg,
      #0e0066 -23.08%,
      rgba(99, 74, 255, 0.5) 10.87%,
      rgba(99, 74, 255, 0.5) 86.4%,
      #b9adff 121.04%
    );
  color: #ffffff;
  font-family: var(--font-lato);
  font-weight: 600;
  font-size: 20px;
  // leading-trim: Cap height;
  line-height: 120%;
  letter-spacing: 2%;
  text-align: center;
  color: rgba(247, 246, 255, 1);
  // vertical-align: middle;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  padding: 14px 22px;
  border-radius: 50px;

  cursor: pointer;
}

.leftBottom {
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: 12px;
  line-height: 21.6px;
  letter-spacing: -0.24px;
  color: rgba(109, 109, 109, 1);
}

.right {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.listContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

}

.text {
  font-family: var(--font-poppins);
  font-weight: 500;
  font-size: 14px;
  line-height: 25.2px;
  letter-spacing: -0.28px;
  text-align: center;
  color: rgba(109, 109, 109, 1);
}
